<h1>Dashboard</h1>

<% if can? :manage, :all %>
<% #pages %>
<h3>Manage Pages</h3>
<%= link_to 'Add New Page', new_page_path %><br>
<% if @pages.count > 0 %>
<table class="table">
  <thead>
    <th>Slug</th><th>Title</th><th>Edit</th>
  </thead>
  <tbody>
  <% @pages.each do |pg| %>
    <tr>
    <td><%=link_to pg.slug, "/pages/#{pg.slug}"%></td> 
    <td><%=pg.title%></td> 
    <td><%=link_to 'Edit', edit_page_path(pg.id) %></td> 
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<h3>Admin Tasks</h3>
<ul>
  <li><%=link_to 'Manage Users', admin_users_path %></li>
</ul>
<% end %>
