<h1><%=@repo.name%></h1>
<h3> Pieces</h3>
<br>
<div class="btn-group" role="group" aria-label="...">
<button type="button" id="reset-dates" class="btn btn-sm btn-primary">Reset Dates</button>
<button type="button" class="btn btn-sm btn-default" id="tenth">10th C.</button>
<button type="button" class="btn btn-sm btn-default" id="eleventh">11th C.</button>
<button type="button" class="btn btn-sm btn-default" id="twelfth">12th C.</button>
<button type="button" class="btn btn-sm btn-default" id="thirteenth">13th C.</button>
<button type="button" class="btn btn-sm btn-default" id="fourteenth">14th C.</button>
<button type="button" class="btn btn-sm btn-default" id="fifteenth">15th C.</button>
<button type="button" class="btn btn-sm btn-default" id="sixteenth">16th C.</button>
<button type="button" class="btn btn-sm btn-default" id="seventeenth">17th C.</button>

</div>
<br>
<br>
<p><b>Start Year</b>: <span id="min">900</span> | <b>End Year</b>: <span id="max" >1700</span> </p>
<input id="dateRange" type="text" class="span2" value="" data-slider-min="900" data-slider-max="1700" data-slider-step="1" data-slider-value="[900,1700]" data-slider-ticks='["900", "1000", "1100", "1200", "1300", "1400", "1500", "1600", "1700"]' data-slider-ticks-labels='["900", "1000", "1100", "1200", "1300", "1400", "1500", "1600", "1700"]'/>
<br>
<br>
<table class="table">
<thead>
<tr><th>Title</th><th>Composer</th><th>Date</th><th>start_date</th><th>end_date</th><th>Number of Parts</th><th>Voicings</th><th>Language</th><th>Tags</th></tr>
</thead>
<tbody>
<% for @piece in @pieces %>
<tr>
  <td><%= link_to @piece.title, @piece.url %></td>
  <td><%= link_to @piece.composer.name, "/composers/#{@piece.composer.slug}"%></td>
  <td><%= @piece.date %></td>
  <td><%= @piece.start_date %></td>
  <td><%= @piece.end_date %></td>
  <td><%= @piece.voicings.exists? ? @piece.voicings.first.num_parts : 0 %></td>
  <td><%= render partial: 'shared/voicing', collection: @piece.voicings.sort{ |a,b| a.weigh_voicing <=> b.weigh_voicing}, spacer_template: 'shared/comma' %></td>
  <td><%= render partial: 'languages/language', collection: @piece.languages, spacer_template: 'shared/comma' %></td>
  <td><%= render partial: 'tags/tag', collection: @piece.tags%></td>
</tr>
<% end %>
</tbody>

</table>
<script type="text/javascript">
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = parseInt( $('#min').text(), 10 );
        var max = parseInt( $('#max').text(), 10 );
        var start_date = parseFloat( data[3] ) || 900; // use data for the start_date column
        var end_date = parseFloat( data[4] ) || 1700; // use data for the end_date column
 
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && start_date <= max ) ||
             ( min <= end_date  && isNaN( max ) ) ||
             ( min <= start_date   && end_date <= max ) )
        {
            return true;
        }
        return false;
    }
);
$(document).ready( function () {
    var table = $('.table').DataTable({"pageLength": 100, "saveState": true,
        "columnDefs": [
            {
              "targets": [3, 4],
              "visible": false,
              //"searchable: false,
            }
          ],
    });
    var mySlider = $("#dateRange").slider({}).on('change',function(){
      var val = this.value.split(',')
      $('#min').text(val[0])
      $('#max').text(val[1])
      table.draw();
    });

    $("#reset-dates").click(function(){
      mySlider.slider('setValue', [0,1700],true,true)
    });
    $("#tenth").click(function(){
      mySlider.slider('setValue', [900,999],true,true)
    });
    $("#eleventh").click(function(){
      mySlider.slider('setValue', [1000,1099],true,true)
    });
    $("#twelfth").click(function(){
      mySlider.slider('setValue', [1100,1199],true,true)
    });
    $("#thirteenth").click(function(){
      mySlider.slider('setValue', [1200,1299],true,true)
    });
    $("#fourteenth").click(function(){
      mySlider.slider('setValue', [1300,1399],true,true)
    });
    $("#fifteenth").click(function(){
      mySlider.slider('setValue', [1400,1499],true,true)
    });
    $("#sixteenth").click(function(){
      mySlider.slider('setValue', [1500,1599],true,true)
    });
    $("#seventeenth").click(function(){
      mySlider.slider('setValue', [1600,1699],true,true)
    });
} );
</script>
