<h1>Search Results</h1>
<%=@results.numFound %> Results for <%=@results.q%><br/>
<% @results.each do |doc| %>
  <div class="mb-5">
    <h3><%= link_to doc.title, doc.url %></h3>
    <% if doc.category == "Composer" %>
      <%= render partial: "composer", locals: {doc: doc} %>
    <%else%>
    <%= truncate(doc.snippet, length: 300, separator: ' ', escape: false) %>
  <%end%>
   </div> 
<% end %>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item <%= "disabled" unless @results.prev_page.active %>" >
      <%=link_to "Previous", search_index_path(q: @results.q, start: @results.prev_page.start), class: 'page-link' %>
    </li>
    <% @results.pages.each do |page| %>
      <li class="page-item <%= "disabled" unless page.active %>" >
        <%=link_to page.page_number, search_index_path(q: @results.q, start: page.start), class: 'page-link' %>
      </li>
    <% end %>
    <li class="page-item <%= "disabled" unless @results.next_page.active %>" >
      <%=link_to "Next", search_index_path(q: @results.q, start: @results.next_page.start), class: 'page-link' %>
    </li>
  </ul>
</nav>
