<div class="col-md-6 col-md-offset-3">
    <h3 style="text-align:center">Metadata Generator</h3>
    
    <%= form_tag request.path, class: 'metadata' do |f| %>
    
      <div class="form-group">
         <%= label_tag 'Composer' %>
         <%= text_field_tag :composer, nil, class: 'form-control typeahead' %>
      </div>
      <div class="form-group">
         <%= label_tag 'Manuscripts' %>
         <%= text_field_tag :manuscript, nil, class: 'form-control typeahead' %>
      </div>
      <div class="form-group">
         <%= label_tag 'Books' %>
         <%= text_field_tag :book, nil, class: 'form-control typeahead' %>
      </div>
  <% end %>
</div>

<script type="text/javascript">
$(document).ready( function () {
  var composers = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('composer'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: [
      <% @composers.each do |composer| %>
        { composer: "<%= composer.name %>" },
      <% end %>
    ]
  });
  
  var manuscripts = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('manuscript'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: [
      <% @manuscripts.each do |manuscript| %>
        { manuscript: "<%= manuscript.name %>" },
      <% end %>
    ]
  });

  var books = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('book'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: [
      <% @books.each do |book| %>
        { book: "<%= book.slug %>" },
      <% end %>
    ]
  });
  // initialize the bloodhound suggestion engine
  books.initialize();
  manuscripts.initialize();
  composers.initialize();
  
  // instantiate the typeahead UI
  $('#book').typeahead(null, {
    displayKey: 'book',
    source: books.ttAdapter()
  });
  $('#composer').typeahead(null, {
    displayKey: 'composer',
    source: composers.ttAdapter()
  });
  // instantiate the typeahead UI
  $('#manuscript').typeahead(null, {
    displayKey: 'manuscript',
    source: manuscripts.ttAdapter()
  });

});
</script>
