<br>
<b>Start Year</b>: <span id="min">900</span> | <b>End Year</b>: <span id="max" >1700</span> <button id="reset-dates" class="btn btn-sm btn-default">Reset Dates</button>
<input id="dateRange" type="text" class="span2" value="" data-slider-min="900" data-slider-max="1700" data-slider-step="10" data-slider-value="[900,1700]"/>
<br>
<br>

<table class="table">
<thead>
<tr><th>Title</th><th>Composer</th><th>Date</th><th>start_date</th><th>end_date</th><th>Voicings</th><th>Language</th><th>Tags</th></tr>
</thead>
<tbody>
<% for @piece in @pieces %>
<tr>
  <td><%= link_to @piece.title, @piece.url %></td>
  <td><%= link_to @piece.composer.name, "/composers/#{@piece.composer.slug}"%></td>
  <td><%= @piece.date %></td>
  <td><%= @piece.start_date %></td>
  <td><%= @piece.end_date %></td>
  <td><%= render partial: 'shared/voicing', collection: @piece.voicings.sort{ |a,b| a.weigh_voicing <=> b.weigh_voicing}, spacer_template: 'shared/comma' %></td>
  <td><%= render partial: 'languages/language', collection: @piece.languages, spacer_template: 'shared/comma' %></td>
  <td><%= render partial: 'tags/tag', collection: @piece.tags%></td>
</tr>
<% end %>
</tbody>

</table>

<script type="text/javascript">
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = parseInt( $('#min').text(), 10 );
        var max = parseInt( $('#max').text(), 10 );
        var start_date = parseFloat( data[3] ) || 900; // use data for the start_date column
        var end_date = parseFloat( data[4] ) || 1700; // use data for the end_date column
 
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && start_date <= max ) ||
             ( min <= end_date  && isNaN( max ) ) ||
             ( min <= end_date   && max >= start_date ) )
        {
            return true;
        }
        return false;
    }
);
$(document).ready( function () {
    var table = $('.table').DataTable(
      {
        "pageLength": 25, 
        "saveState": true,
        "columnDefs": [
            {
              "targets": [3, 4],
              "visible": false,
              //"searchable: false,
            }
          ]
      });
      var mySlider = $("#dateRange").slider({}).on('change',function(){
        var val = this.value.split(',')
        $('#min').text(val[0])
        $('#max').text(val[1])
        table.draw();
      });

      $("#reset-dates").click(function(){
        mySlider.slider('setValue', [900,1700],true,true)
      });

} );
</script>
