<br>
<div class="btn-group" role="group" aria-label="...">
<button type="button" id="reset-dates" class="btn btn-sm btn-primary">Reset Dates</button>
<button type="button" class="btn btn-sm btn-secondary" id="tenth">10th C.</button>
<button type="button" class="btn btn-sm btn-secondary" id="eleventh">11th C.</button>
<button type="button" class="btn btn-sm btn-secondary" id="twelfth">12th C.</button>
<button type="button" class="btn btn-sm btn-secondary" id="thirteenth">13th C.</button>
<button type="button" class="btn btn-sm btn-secondary" id="fourteenth">14th C.</button>
<button type="button" class="btn btn-sm btn-secondary" id="fifteenth">15th C.</button>
<button type="button" class="btn btn-sm btn-secondary" id="sixteenth">16th C.</button>
<button type="button" class="btn btn-sm btn-secondary" id="seventeenth">17th C.</button>

</div>
<br>
<br>
<p><b>Start Year</b>: <span id="min">900</span> | <b>End Year</b>: <span id="max" >1700</span> </p>
<input id="dateRange" type="text" class="span2" value="" data-slider-min="900" data-slider-max="1700" data-slider-step="1" data-slider-value="[900,1700]" data-slider-ticks='["900", "1000", "1100", "1200", "1300", "1400", "1500", "1600", "1700"]' data-slider-ticks-labels='["900", "1000", "1100", "1200", "1300", "1400", "1500", "1600", "1700"]'/>
<br>
<br>

<table class="table" data-behavior="tabledatesort">
<thead>
<tr><th>Title</th><th>Composer</th><th>Date</th><th>start_date</th><th>end_date</th><th>Voicings</th><th>Language</th><th>Tags</th></tr>
</thead>
<tbody>
<% for @piece in @pieces %>
<tr>
  <td><%= link_to @piece.title, @piece.url %></td>
  <td><%= link_to @piece.composer.name, "/composers/#{@piece.composer.slug}"%></td>
  <td><%= @piece.date %></td>
  <td><%= @piece.start_date %></td>
  <td><%= @piece.end_date %></td>
  <td><%= render partial: 'shared/voicing', collection: @piece.voicings.sort{ |a,b| a.weigh_voicing <=> b.weigh_voicing}, spacer_template: 'shared/comma' %></td>
  <td><%= render partial: 'languages/language', collection: @piece.languages, spacer_template: 'shared/comma' %></td>
  <td><%= render partial: 'tags/tag', collection: @piece.tags%></td>
</tr>
<% end %>
</tbody>

</table>
