
<% editions = vocal_collection.editions(@piece).sort { |left, right| left[:pdf].chomp('.pdf') <=> right[:pdf].chomp('.pdf')} %>
<% editions.each do |edition| %>
  <% if edition[:pdf] =~ /-transposed/ %>
    <h4>Transposed Edition 
  <% else %>
    <h4>Original Key Edition 
  <% end %>
   <a href="/<%=vocal_collection.slug%>/<%=@piece.slug%>/<%=edition[:pdf]%>" class="btn btn-default btn-md">
   <i class="far fa-file-pdf" aria-hidden="true"></i> PDF
  </a>
   <a href="/<%=vocal_collection.slug%>/<%=@piece.slug%>/<%=edition[:midi]%>" class="btn btn-default btn-md">
   <i class="fas fa-music" aria-hidden="true"></i> MIDI
  </a>
   <a href="/<%=vocal_collection.slug%>/<%=@piece.slug%>/<%=edition[:mp3]%>" class="btn btn-default btn-md">
   <i class="fas fa-volume-up" aria-hidden="true"></i> MP3
  </a></h4>
  <% if edition[:parts] %>
    <% directory = "/#{vocal_collection.slug}/#{@piece.slug}" %>
    <h5 > Practice MIDIs and MP3s </h5>
    <table class="table">
    <tr><th>Part</th><th>Emphasized</th><th>Mute</th><th>Solo</th></tr>
    <%parts = edition[:parts].sort_by{ |hsh| hsh[:order] } 
      parts.each do |part|%> 
        <tr><td><%=part[:name].capitalize%></td> 
        <td><%= render "midi_button", url: "#{directory}/#{part[:emphasized][:midi]}"%><%= render "mp3_button", url: "#{directory}/#{part[:emphasized][:mp3]}"%></td>
        <td><%= render "midi_button", url: "#{directory}/#{part[:mute][:midi]}"%><%= render "mp3_button", url: "#{directory}/#{part[:mute][:mp3]}"%></td>
        <td><%= render "midi_button", url: "#{directory}/#{part[:solo][:midi]}"%><%= render "mp3_button", url: "#{directory}/#{part[:solo][:mp3]}"%></td>
    <%end%>
    </table>

    <% if editions.index(edition) + 1 < editions.count %>
     <hr>
    <%end%>
  <%end %>
<%end %>
