<h1><%=@book.title%> <small><%= render partial: 'composer', collection: @composers, spacer_template: 'shared/comma'%></small></h1>
<ul>
  <li><b>Publication Year</b>: <%=@book.date.strftime('%Y')%></li>
  <li><b>Facsimile(s)</b>: 
<%= render partial: 'facsimile_sources/facsimile_source', collection: @book.facsimile_sources, spacer_template: 'shared/comma' %>
  </li>
</ul>
<br><br>
<table class="table">
<thead>
<tr>
<% if BookContent.where(book_id: @book.id).any?{|x| x.order.present?}%>
<th>Order</th>
<% end %>
<th>Title</th><th>Composer</th><th>Voicings</th><th>Language</th><th>Tags</th></tr>
</thead>
<tbody>
<% for @piece in @pieces %>
<tr>
<% if BookContent.where(book_id: @book.id).any?{|x| x.order.present?}%>
<td><%=@piece.book_contents.find_by(book_id = @book.id).order %></td>
<% end %>
  <td><%= link_to @piece.title, @piece.url %></td>
  <td><%= link_to @piece.composer.name, "/composers/#{@piece.composer.slug}"%></td>
  <td><%= render partial: 'shared/voicing', collection: @piece.voicings.sort{ |a,b| a.weigh_voicing <=> b.weigh_voicing}, spacer_template: 'shared/comma' %></td>
  <td><%= render partial: 'languages/language', collection: @piece.languages, spacer_template: 'shared/comma' %></td>
  <td><%= render partial: 'tags/tag', collection: @piece.tags%></td>
</tr>
<% end %>
</tbody>

</table>
<script type="text/javascript">
$(document).ready( function () {
    var table = $('.table').DataTable(
      {
        "pageLength": 25, 
        "saveState": true,
      });
});
</script>
