<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 style="text-align:center">Contact St. Cecilia Press</h3>
      
      <%= form_tag request.path, class: 'contact' do |f| %>
       <%= hidden_field_tag :referring_page, @back_link %>
      
        <div class="form-group">
            <%= label_tag :subject %></th>
            <%= text_field_tag :subject, nil, class: 'form-control' %></td>
        </div>
        <div class="form-group">
           <%= label_tag 'Your Name' %>
           <%= text_field_tag :from_name, nil, class: 'form-control' %>
        </div>
        <div class="form-group">
           <%= label_tag 'Your E-Mail Address' %>
           <%= text_field_tag :from_email, nil, class: 'form-control' %>
      
        </div>
        <div class="form-group">
           <%= label_tag 'Your Feedback' %>
        <%= text_area_tag :feedback, nil, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= recaptcha_tags %>  
        </div>
      
        <%= submit_tag 'Send', class: 'btn btn-default' %> 
      <% end %>
    </div>
  </div>
</div>
