<h1>Manuscripts</h1>
<table class="table" data-behavior='dtable'>
<thead>
    <tr><th>Name</th><th>Archive</th><th>Shelfmark</th><th>Diamm</th><th>Facsimiles</th></tr>
</thead>
<tbody>
<% for @manuscript in @manuscripts %>
<tr>
    <td><%= link_to @manuscript.name, manuscript_path(@manuscript.slug) %></a></td>
  <td><%=@manuscript.archive%></td>
  <td><%=@manuscript.shelfmark%></td>
  <td> 
  <% unless @manuscript.diamm.blank? %>
    <%= link_to 'LINK', @manuscript.diamm_link %>
  <% end %>
  </td>
  <td>
  <% if @manuscript.facsimile_sources.count > 0 %>
    <%= render partial: 'facsimile_sources/facsimile_source', collection: @manuscript.facsimile_sources, spacer_template: 'shared/comma' %>
  <% end %>
  </td>
</tr>
<% end %>
</tbody>
</table>
