<h1><%=@manuscript.name%></h1>
<ul>
  <li><b>Archive</b>: <%=@manuscript.archive%></li>
  <li><b>Shelfmark</b>: <%=@manuscript.shelfmark%></li>
  <% if @manuscript.description %>
  <li><b>Description</b>: <%=@manuscript.description%></li>
  <% end %>
  <% if @manuscript.diamm %>
  <li><%= link_to 'DIAMM',@manuscript.diamm_link %></li>
  <% end %>
  <% if @manuscript.facsimile_sources.count > 0 %>
    <li><b>Facsimile(s)</b>: 
<%= render partial: 'facsimile_sources/facsimile_source', collection: @manuscript.facsimile_sources, spacer_template: 'shared/comma' %>
    </li>
  <% end %>
</ul>
<table class="table" data-behavior='dtable'>
<thead>
<tr>
  <% if ManuscriptContent.where(manuscript_id: @manuscript.id).any?{|x| x.order.present?}%>
    <th>Order</th>
  <% end %>
    <th>Piece</th><th>Composer</th><th>Date</th><th>Position in Manuscript</th><th>DIAMM</th></tr>
</thead>
<tbody>
    <% @manuscript.pieces.each do |piece| %>
        <% mc = ManuscriptContent.find_by(piece: piece, manuscript: @manuscript) %>
        <tr>
        <% if ManuscriptContent.where(manuscript_id: @manuscript.id).any?{|x| x.order.present?}%>
          <td><%=piece.manuscript_contents.find_by(manuscript_id = @manuscript.id).order %></td>
        <% end %>
        <td><%= link_to piece.title, piece.url %></td>
        <td><%=piece.composer.name%></td>
        <td><%= piece.date %></td>
        <td><%=mc.position%></td>
        <td><% unless mc.diamm.blank? %>
          <%= link_to 'DIAMM', mc.diamm_link %>
        <% end%> 
        </td> </tr>

    <% end %>
</tbody>
</table>
