<!DOCTYPE html>
<html>
<head>
  <title>St Cecilia Press</title>
  <%= stylesheet_pack_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">

    <a class="navbar-brand" href="/">St. Cecilia Press</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <%= nav_link_to 'About', "/about" %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="browseDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="broseDropdown">
            
            <%= nav_dropdown_link_to 'Pieces', "/pieces" %>
            <%= nav_dropdown_link_to 'Collections', "/repositories" %>
            <%= nav_dropdown_link_to 'Composers', "/composers" %>
            <%= nav_dropdown_link_to 'Voicings', "/pieces/voicings" %>
            <%= nav_dropdown_link_to 'Books', "/books" %>
            <%= nav_dropdown_link_to 'Manuscripts', "/manuscripts" %>
            <%= nav_dropdown_link_to 'Tags', "/tags" %>
            <%= nav_dropdown_link_to 'Publications', "/publications"%>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="linksDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="linksDropdown">
            <%= nav_dropdown_link_to 'Psallite', "http://psallite.thedancingmaster.net" %>
            <%= nav_dropdown_link_to 'BlowThyHorn.com', "http://blowthyhorn.com" %>
            <%= nav_dropdown_link_to 'De Bel-Accueil Énamouré', "https://belaccueil.wordpress.com/" %>
          </div>
        </li>
        <%= nav_link_to 'Dance', '/dance' %>
        <%= nav_link_to 'Contact', "/contact" %>
      </ul>
      <%= render "layouts/search" %>
    </div><!--/.nav-collapse -->
  </nav>

    <div class="container mt-3">
      <div class ="base">
         <% if notice || alert %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
   </div>
    <footer class="footer">
    </footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3878138-6', 'auto');
  ga('send', 'pageview');

</script>
<%= javascript_pack_tag 'application' %>
</body>
</html>
